*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	box-sizing: border-box
}

body {
	padding: 30px;
	height: 2000px;
	background: url(../img/webit.jpg) center/ 100% 100% no-repeat fixed;

}

.background {
	height: 300px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	/* background-color: white;
	background:
		url(../img/avatar1.jpg) center left / auto no-repeat,
		url(../img/avatar3.jpg) center / auto no-repeat,
		url(../img/avatar2.jpg) center right / auto no-repeat,
		url(../img/avatar.png) center / cover no-repeat
		; */
	/* background: */
	/* url(../img/avatar1.jpg) center left / auto no-repeat,
		url(../img/avatar3.jpg) center / auto no-repeat,
		url(../img/avatar2.jpg) center right / auto no-repeat, */
	/* linear-gradient(to bottom, #3700ce 0%,#8fc800 100%); */
	/* background: url(../img/webit.jpg) center/ 100% 100% no-repeat fixed; */
	/* background-image: url(../img/webit.jpg);
	background-position: center;
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-attachment: fixed; */
}

.background__title {
	margin: 0;
	font-size: 40px;
	text-align: center;
	color: aqua;
}