.container{
  /* max-width: 855px; */
  padding: 0 20px;
  margin: 0 auto;
}

.title{
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 700;
  color: #00ffff;
}