/* @font-face {
    font-family: "Example";
    src: url(../fonts/Example-regular.woff),
        url(../fonts/Example-regular.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
} */